name: rijksmuseum-pipeline

on:
  workflow_dispatch
  # schedule:
  # # run tests once every week
  # - cron: "0 0 * * Mon"

jobs:
  test:
    name: Test Rijksmuseum API
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Restore dependencies
      run: dotnet restore RijksmuseumApiTest.csproj
    - name: Build
      run: dotnet build RijksmuseumApiTest.csproj --no-restore
    - name: Test
      run: dotnet test RijksmuseumApiTest.csproj --no-build --verbosity normal
